body{
    background-color: coral;
}

img{
    height: 40vh;
    width: 25%;
}
.vertical-line {
    border-left: 2px solid black; /* Creates the vertical line */
    height: 500px;                /* Adjust the height of the line */
    margin: 0 50%;               /* Adds space around the line */
    width: 10px;
}